# Default ignored files
/../../AI_driven_Algorithmic_trading /.idea/shelf/
/../../AI_driven_Algorithmic_trading /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../AI_driven_Algorithmic_trading /.idea/httpRequests/
